:root {
  --background-color:rgb(55, 55, 55)
}

body {
  margin: 0;
  padding: 0;
  height: 100svh;
  width: 100svw;
  position: fixed;
  top:0;
  left:0;
  overflow: hidden;
  background:var(--background-color);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}