:root {
  --tile-color: #ffdda7;
  --tile-earth: rgba(131, 131, 131, 0.363);
  --tile-wind: #74fffd70;
  --tile-water: #54a9ff69;
  --tile-fire: #ff84846c;
}

.Tile {
  width: 85%;
  max-width: 100%;
  aspect-ratio: 1/1;
  background: #ffdda7;
  box-shadow: 0 .3vmin 0 0 #ae9772;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-radius: .5vmin;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-bottom: .3vmin;
  cursor: grab;
  will-change: transform;
  transition: transform .5s cubic-bezier(0, .21, 0, 1.83);
  user-select: none;
  z-index: 2;
}
.Tile.Fixed{
  pointer-events: none;
  cursor: not-allowed;
}

.Tile:hover {
  transform: scale(1.05);
}

.Tile>.Letter {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 2.5vmin;
  font-weight: bold;
  box-sizing: border-box;
  padding-bottom: .5vmin;
}

.Tile>.Value {
  position: absolute;
  bottom: .25vmin;
  right: .5vmin;
  font-weight: 900;
  display: grid;
  align-content: center;
  justify-content: end;
  font-size: 1vmin;
  box-sizing: border-box;
}

.Tile.Error {
  background: #ffa7a7;
  box-shadow: 0 .3vmin 0 0 #ae7272;
  animation: shake 0.4s ease;
}

/* .Tile.dragging{
  pointer-events: none;
} */
.Tile.Earth,
.Tile.Wind,
.Tile.Water,
.Tile.Fire {
  aspect-ratio: 1/1.05;
  clip-path: polygon(
    2% 4%, 10% 0%, 20% 3%, 30% 0%, 40% 4%, 50% 1%,
    60% 3%, 70% 0%, 80% 4%, 90% 1%, 98% 3%,
    100% 10%, 97% 20%, 100% 30%, 96% 40%,
    100% 50%, 97% 60%, 100% 70%, 96% 80%,
    100% 90%, 98% 96%, 90% 100%, 80% 97%, 70% 100%,
    60% 98%, 50% 100%, 40% 97%, 30% 100%, 20% 98%,
    10% 100%, 4% 97%, 0% 90%, 3% 80%, 0% 70%,
    4% 60%, 0% 50%, 3% 40%, 0% 30%, 4% 20%, 0% 10%
  );
  color: white;
  text-shadow: 0 .4vmin 1.5vmin darkslategrey;
  box-shadow: 0 .3vmin 0 0 darkslategrey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Square:has(.Tile.Fire)::before{
  content: "";
  position:absolute;
  left:0;
  top:calc(50% - 50vh);
  background:rgba(255, 89, 43, 0.767);
  width: 100%;
  height: 100vh;
  z-index:1;
  pointer-events: none;
}
.Square:has(.Tile.Earth)::before{
  content: "";
  position:absolute;
  background:rgba(56, 56, 56, 0.507);
  left:calc(-100% - .2vmin);
  top:calc(-100% - .2vmin);
  width: calc(300% + .4vmin);
  height: calc(300% + .4vmin);
  z-index:1;
  pointer-events: none;
}
.Square:has(.Tile.Water)::before{
  content: "";
  background:rgba(57, 120, 255, 0.621);
  position:absolute;
  left:calc(-200% - .4vmin);
  top:calc(-200% - .4vmin);
  width: calc(500% + .8vmin);
  height: calc(500% + .8vmin);
  z-index:1;
  pointer-events: none;
}
.Square:has(.Tile.Wind)::before{
  content: "";
  background:rgba(44, 230, 221, 0.671);
  position:absolute;
  left:calc(-100% - .2vmin);
  top:calc(-100% - .2vmin);
  width: calc(300% + .4vmin);
  height: calc(300% + .4vmin);
  border-radius: 50%;
  z-index:1;
  pointer-events: none;
}

.Tile.Earth { background: url("../../images/earth.jpg") no-repeat center / cover; background-blend-mode: lighten; }
.Tile.Wind  { background: url("../../images/wind.jpg") no-repeat center / cover; background-blend-mode: overlay; }
.Tile.Water { background: url("../../images/water.jpg") no-repeat center / cover; background-blend-mode: overlay; }
.Tile.Fire  { background: url("../../images/fire.jpg") no-repeat center / cover; background-blend-mode: lighten; }



@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20%,
  60% {
    transform: translateX(-.25vmin);
  }

  40%,
  80% {
    transform: translateX(.25vmin);
  }
}

@media (prefers-reduced-motion: reduce) {
  .Tile.Error {
    animation: none;
  }
}