.Bag{
  width: 80%;
  height: 30%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  user-select: none;
  cursor: grab;
}
.Bag>img{
  width: 100%;
  height: 100%;
}