.TurnIndicator {
  width: 100%;
  height: 100%;
  background: var(--on-board-dark-color);
  border-radius: 1vmin;
  display: grid;
  grid-template-columns: 100%;
  align-content: start;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 1vmin 2vmin;
  gap: 1vmin;
  overflow-y: auto;

}

.TurnIndicator>.Player {
  border-radius: 1vmin;
  background: rgba(255, 255, 255, .2);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 4vmin;
  width: 100%;
  display: grid;
  grid-template-columns: 4vmin calc(100% - 4vmin);
  align-items: center;
  justify-content: center;
  position: relative;
}
.TurnIndicator>.Player>.Points{
  display: grid;
  align-items: center;
  justify-content: center;
}
.TurnIndicator>.IsTurn {
  box-sizing: border-box;
  border: .2vmin solid white;
  background-color: var(--board-color);
}

.TurnIndicator>.IsThisPlayer:after {
  content: "You";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background: rgba(255, 255, 255, .2);
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 0 1vmin 1vmin 0;
}

.TurnIndicator.Error>.IsTurn {
  background: rgba(255, 0, 0, 0.3);
  animation: shake 0.3s ease;
}


@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20%,
  60% {
    transform: translateX(-.5vmin);
  }

  40%,
  80% {
    transform: translateX(.5vmin);
  }
}

@media (prefers-reduced-motion: reduce) {
  .TurnIndicator.Error>.IsTurn {
    animation: none;
  }
}