.TurnIndicator {
  width: 100%;
  height: 100%;
  background: var(--on-board-dark-color);
  border-radius: 1vmin;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(3vmin, 1fr));
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 1vmin 2vmin;
  gap: 1vmin;
}