.Rack {
  width: 100%;
  height: 100%;
  background: var(--on-board-dark-color);
  border-radius: 1vmin;
  display: grid;
  grid-template-columns: repeat(7, 1fr);


  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 0 2vmin;

}