:root {
  --square-color: rgb(15, 105, 98);
  --square-color-hover: rgb(36, 36, 53);
  --tw-color: rgb(162, 36, 36);
  --dw-color: rgb(220, 148, 148);
  --tl-color: rgb(13, 13, 177);
  --dl-color: rgb(162, 182, 218);
}

.Square {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  background: var(--square-color);
  box-sizing: border-box;
  border-radius: .5vmin;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  user-select: none;
  position: relative;
}

.Square:hover:not(.Square:active),
.Square.Hovered {
  background: var(--square-color-hover);
}

.TW {
  background: var(--tw-color);
}

.TW:after {
  content: "TW";
}

.DW {
  background: var(--dw-color);
}

.DW:after {
  content: "DW";
}

.TL {
  background: var(--tl-color);
}

.TL:after {
  content: "TL";
}

.DL {
  background: var(--dl-color);
}

.DL:after {
  content: "DL";
}


.TW:after,
.DW:after,
.TL:after,
.DL:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1vmin, 1.5vmin, 1.75vmin);
  font-weight:bolder;
  pointer-events: none;
}

.contains{
  box-shadow: 0 0 1vmin red;
}