:root {
  --on-board-light-color: rgb(75, 75, 75)
}

.TurnControls {
  width: 100%;
  height: 100%;
  background: var(--on-board-dark-color);
  border-radius: 1vmin;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 2vmin;
  gap: 1vmin;
}

.TurnControls>button {
  background: var(--board-color);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1vmin, 1.25vmin, 2vmin);
  height: 100%;
  width: 100%;
  border-radius: 1vmin;
  border: none;
  will-change: transform;
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.TurnControls>button:hover {
  transform:scale(1.05)
}

.TurnControls>button:active {
  transform:scale(1)
}